/* 폰트 - Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 초기화 */
html, body, pre, code, kbd, samp {
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.4px;
    word-break: keep-all;
}
* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; }
ul, li { list-style: none; }
input { border: none; outline: none; background-color: transparent; }
select, option, button { border: none; outline: none; cursor: pointer; background-color: transparent; }