/* 공통값 */
body {
    transition: 0.2s;
}
.main_index {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

/* 고정 버튼 */
.fixed_area {
    position: fixed;
    z-index: 10;
    right: 28px;
    bottom: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fixed_area input {
    display: none;
}
.fixed_area label {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.fixed_area label svg {
    width: 20px;
    transition: 0.2s;
}

/* 왼쪽 */
.index_left {
    width: 280px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    padding-bottom: 0;
    transition: 0.2s;
}
.index_left .img_wrap {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
.index_left img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    object-fit: cover;
    object-position: center center;
}
.index_left .profile_name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 52px;
}
.index_left .profile_name h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
    transition: 0.2s;
}
.index_left .profile_name h3 {
    font-size: 15px;
    font-weight: 400;
    transition: 0.2s;
}
.index_left .profile_link, .index_left .profile_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 52px;
}
.index_left .profile_link h2, .index_left .profile_info h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.2s;
}
.index_left .profile_link h3, .index_left .profile_info h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
}
.index_left .profile_link h3:last-of-type, .index_left .profile_info h3:last-of-type {
    margin-bottom: 0;
}
.index_left .profile_link h3 a, .index_left .profile_info h3 {
    transition: 0.2s;
}
.index_left .profile_info {
    margin-bottom: 0;
}
.index_left .profile_info h3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}
.index_left .profile_info h3 span {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: 0.2s;
}
.index_left .profile_info h3 svg {
    width: 14px;
    transition: 0.2s;
}
.index_left .profile_info h3:nth-of-type(2) svg {
    width: 12px;
}
.index_left .profile_info h3:nth-of-type(3) svg {
    width: 11px;
}
.index_left .profile_info h3:nth-of-type(4) svg {
    width: 12px;
}

/* 오른쪽 */
.index_right {
    width: calc(100% - 280px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 80px;
    padding-bottom: 40px;
}

/* 제목 스타일 */
.index_right .title {
    width: 100%;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    padding: 6px 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid;
    transition: 0.2s;
}
.index_right .title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: 0.2s;
}

/* 해시태그 스타일 */
.index_right .hashtag {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 14px;
}
.index_right .hashtag span {
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    margin-right: 12px;
    margin-top: 6px;
    transition: 0.2s;
}

/* 소제목 스타일 */
.index_right .sub_title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    transition: 0.2s
}
.index_right .sub_title_school {
    margin-top: 20px;
}
.index_right .sub_title_skills_1 {
    margin-top: 20px;
}
.index_right .sub_title div {
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.index_right .sub_title svg {
    width: 28px;
    transition: 0.2s;
}
.index_right .sub_title_school svg {
    width: 32px;
}
.index_right .sub_title_skills_2 svg {
    width: 26px;
}
.index_right .sub_title p {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-left: 20px;
    margin-bottom: 2px;
    transition: 0.2s;
}
.index_right .sub_title span {
    font-size: 16px;
    font-weight: 400;
    margin-left: 12px;
}

/* 목록 스타일 */
.index_right .list {
    margin-top: 20px;
    padding-left: 32px;
}
.index_right .list_school {
    margin-bottom: 80px;
}
.index_right .list > li {
    list-style: square;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.2s;
}
.index_right .list > li:last-of-type {
    margin-bottom: 0;
}
.index_right .sub_list {
    padding-left: 24px;
}
.index_right .sub_list > li {
    list-style: circle;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
    transition: 0.2s;
}
.index_right .sub_list > li:first-of-type {
    margin-top: 8px;
}
.index_right .sub_list > li p {
    display: inline-block;
    margin-right: 6px;
    transition: 0.2s;
}
.index_right .sub_list > li span {
    font-size: 14px;
    margin-left: 10px;
    transition: 0.2s;
}

.index_right .skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}
.index_right .skills_2 {
    margin-bottom: 80px;
}
.index_right .skills span {
    height: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 0 16px;
    padding-bottom: 1px;
    margin-right: 8px;
    margin-top: 12px;
    transition: 0.2s;
}
.index_right .company {
    width: 100%;
    margin-top: 20px;
}

/* 저작권 */
.index_right .copyright {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    margin-top: 80px;
    text-align: center;
    transition: 0.2s;
}
.index_right .copyright a {
    display: inline-block;
    margin-top: 4px;
    border-bottom: 1px solid;
    transition: 0.2s;
}

/* 나잇 모드 */
body.night_mode {
    background-color: #202124;
}
.night_mode .fixed_area label {
    background-color: #35363A;
}
.night_mode .fixed_area label svg {
    fill: #E9EAEE;
}
.night_mode .index_left {
    background-color: #35363A;
}
.night_mode .index_left .profile_name h2 {
    color: #E9EAEE;
}
.night_mode .index_left .profile_name h3 {
    color: #B1B2B6;
}
.night_mode .index_left .profile_link h2, .night_mode .index_left .profile_info h2 {
    color: #E9EAEE;
}
.night_mode .index_left .profile_link h3 a, .night_mode .index_left .profile_info h3 {
    color: #CDCED2;
}
.night_mode .index_left .profile_info h3 span {
    background-color: #4C4D50;
}
.night_mode .index_left .profile_info h3 svg {
    fill: #E9EAEE;
}
.night_mode .index_right .title {
    border-color: #E9EAEE;
    color: #E9EAEE;
}
.night_mode .index_right .title::before {
    border-top: 6px solid #E9EAEE;
    border-left: 6px solid #E9EAEE;
}
.night_mode .index_right .hashtag span {
    border-color: #CDCED2;
    color: #CDCED2;
}
.night_mode .index_right .sub_title  {
    border-color: #35363A;
}
.night_mode .index_right .sub_title p {
    color: #E9EAEE;
}
.night_mode .index_right .sub_title div {
    background-color: #35363A;
}
.night_mode .index_right .sub_title svg {
    fill: #B1B2B6;
}
.night_mode .index_right .list > li {
    color: #E9EAEE;
}
.night_mode .index_right .sub_list > li {
    color: #B1B2B6;
}
.night_mode .index_right .sub_list > li span {
    color: #7D7E82;
}
.night_mode .index_right .sub_list > li p {
    color: #E9EAEE;
}
.night_mode .index_right .skills span {
    background-color: #35363A;
    color: #CDCED2;
}
.night_mode .index_right .copyright {
    color: #B1B2B6;
}
.night_mode .index_right .copyright a {
    color: #B1B2B6;
    border-color: #B1B2B6;
}

/* 브라잇 모드 */
body.bright_mode {
    background-color: #FFF;
}
.bright_mode .fixed_area label {
    background-color: #E9EAEE;
}
.bright_mode .fixed_area label svg {
    fill: #35363A;
}
.bright_mode .index_left {
    background-color: #F6F7F8;
}
.bright_mode .index_left .profile_name h2 {
    color: #35363A;
}
.bright_mode .index_left .profile_name h3 {
    color: #97989C;
}
.bright_mode .index_left .profile_link h2, .bright_mode .index_left .profile_info h2 {
    color: #35363A;
}
.bright_mode .index_left .profile_link h3 a, .bright_mode .index_left .profile_info h3 {
    color: #646568;
}
.bright_mode .index_left .profile_info h3 span {
    background-color: #E9EAEE;
}
.bright_mode .index_left .profile_info h3 svg {
    fill: #646568;
}
.bright_mode .index_right .title {
    border-color: #35363A;
    color: #35363A;
}
.bright_mode .index_right .title::before {
    border-top: 6px solid #35363A;
    border-left: 6px solid #35363A;
}
.bright_mode .index_right .hashtag span {
    border-color: #646568;
    color: #646568;
}
.bright_mode .index_right .sub_title  {
    border-color: #35363A;
}
.bright_mode .index_right .sub_title p {
    color: #35363A;
}
.bright_mode .index_right .sub_title div {
    background-color: #35363A;
}
.bright_mode .index_right .sub_title svg {
    fill: #FFF;
}
.bright_mode .index_right .list > li {
    color: #35363A;
}
.bright_mode .index_right .sub_list > li {
    color: #646568;
}
.bright_mode .index_right .sub_list > li span {
    color: #646568;
}
.bright_mode .index_right .sub_list > li p {
    color: #35363A;
}
.bright_mode .index_right .skills span {
    background-color: #E9EAEE;
    color: #646568;
}
.bright_mode .index_right .copyright {
    color: #646568;
}
.bright_mode .index_right .copyright a {
    color: #646568;
    border-color: #646568;
}

/* 반응형 */
@media screen and ( max-width: 1080px ) {
    /* 공통값 */
    .main_index {
        flex-direction: column;
    }

    /* 고정 버튼 */
    .fixed_area {
        right: 20px;
        bottom: 20px;
    }
    .fixed_area label {
        width: 40px;
        height: 40px;
    }
    .fixed_area label svg {
        width: 16px;
    }

    /* 왼쪽 */
    .index_left {
        width: 100%;
        height: auto;
        position: relative;
        padding: 40px;
    }
    .index_left .img_wrap {
        width: 140px;
        height: 140px;
        margin-bottom: 12px;
    }
    .index_left .profile_name {
        margin-bottom: 40px;
    }
    .index_left .profile_name h2 {
        font-size: 18px;
        margin-bottom: 4px;
    }
    .index_left .profile_name h3 {
        font-size: 13px;
    }
    .index_left .profile_link {
        margin-bottom: 40px;
    }
    .index_left .profile_link h2, .index_left .profile_info h2 {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .index_left .profile_link h3, .index_left .profile_info h3 {
        font-size: 12px;
    }
    .index_left .profile_info h3 {
        margin-bottom: 10px;
    }
    .index_left .profile_info h3 span {
        width: 20px;
        height: 20px;
    }
    .index_left .profile_info h3 svg {
        width: 12px;
    }
    .index_left .profile_info h3:nth-of-type(2) svg {
        width: 10px;
    }
    .index_left .profile_info h3:nth-of-type(3) svg {
        width: 9px;
    }
    .index_left .profile_info h3:nth-of-type(4) svg {
        width: 10px;
    }

    /* 오른쪽 */
    .index_right {
        width: 100%;
        padding: 40px;
    }

    /* 제목 스타일 */
    .index_right .title {
        font-size: 26px;
        padding: 4px 12px;
        padding-bottom: 8px;
    }
    .index_right .title span {
        font-size: 16px;
        margin-left: 8px;
    }
    .index_right .title svg {
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }

    /* 소제목 스타일 */
    .index_right .sub_title_school {
        margin-top: 12px;
    }
    .index_right .sub_title_skills_1 {
        margin-top: 16px;
    }
    .index_right .sub_title div {
        width: 52px;
        height: 52px;
    }
    .index_right .sub_title svg {
        width: 24px;
    }
    .index_right .sub_title_school svg {
        width: 26px;
    }
    .index_right .sub_title_skills_2 svg {
        width: 22px;
    }
    .index_right .sub_title p {
        font-size: 18px;
        margin-left: 16px;
    }
    .index_right .sub_title span {
        font-size: 12px;
    }

    /* 해시태그 스타일 */
    .index_right .hashtag {
        margin-top: 6px;
    }
    .index_right .hashtag span {
        font-size: 12px;
        font-weight: 400;
    }

    /* 목록 스타일 */
    .index_right .list {
        margin-top: 12px;
        padding-left: 28px;
    }
    .index_right .list_school {
        margin-bottom: 52px;
    }
    .index_right .list > li {
        font-size: 16px;
    }
    .index_right .sub_list {
        padding-left: 20px;
    }
    .index_right .sub_list > li {
        font-size: 14px;
    }
    .index_right .sub_list > li span {
        font-size: 12px;
        margin-left: 8px;
    }

    .index_right .skills {
        margin-bottom: 16px;
    }
    .index_right .skills_2 {
        margin-bottom: 52px;
    }
    .index_right .skills span {
        height: 28px;
        border-radius: 14px;
        font-size: 10px;
        padding: 0 14px;
        padding-bottom: 1px;
        margin-right: 6px;
        margin-top: 8px;
    }
    .index_right .company {
        margin-top: 14px;
    }

    /* 저작권 */
    .index_right .copyright {
        font-size: 12px;
    }
}
@media screen and ( max-width: 640px ) {
    /* 왼쪽 */
    .index_left {
        padding: 32px 20px;
    }

    /* 오른쪽 */
    .index_right {
        padding: 32px 20px;
    }

    /* 저작권 */
    .index_right .copyright {
        margin-top: 52px;
    }
}